body {
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 11pt;
  padding: 0;
  margin: 0; }
  body a {
    color: #464D57; }

#top_header {
  background-color: #2F3C4C;
  color: #F4EFB7;
  font-size: 20pt;
  height: 20px;
  padding: 15px; }
  #top_header .sub {
    font-size: 10pt; }
    #top_header .sub a {
      color: #F4EFB7; }

#main_content {
  padding: 20px; }

#info_box {
  background-color: #F4EFB7;
  color: #464D57;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 10px;
  width: 980px;
  border: 2px solid #464D57;
  font-size: 10pt;
  margin-bottom: 30px; }
  #info_box .section {
    margin-bottom: 10px;
    margin-top: 5px; }
    #info_box .section .title {
      font-weight: bold; }

.clear_float {
  clear: both; }

.example {
  border: 2px solid #464D57;
  background-color: #F4FCF2;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-bottom: 30px;
  margin-right: 0px;
  margin: 0px;
  width: 900px; }
  
  .example .header {
  	background-color: #464D57;
    color: #D4E8D3;
    padding: 5px; }
  .example .footer {
    background-color: #D4E8D3;
    color: DarkKhaki ;
    padding: 5px;
    font-size: 10pt; }
    .example .footer .src_code {
      float: left; }
    .example .footer .styling {
      float: right; }
  .example .content {
    padding-left: 10px; }
  .example .example_content {
    padding: 10px; }
   .example .header a {
    color: white }


#example_3.example_content {
  border: 10px solid;
  border-color:  #f4fcf2;
  padding: 0px; }
  
  #example_3.example_content .content_wrapper {
    background-color: #2f3c4c; 
    padding: 0px; 
    margin: 0px;
    border: 1px solid #2f3c4c;
  }
  #example_3.example_content .content {
    float: left;
    padding: 10px;
    background-color: #fffad9;
    min-height: 100px;
    margin: 5px;
    width: 840px; }
  #example_3.example_content #top_navigation {
    float: left;
    width: 100%;
    background-color: #f4fcf2; }
    
    #example_3.example_content #top_navigation ul {
      height: 0px;
      margin: 0 0 0 0;
      padding: 0px; 
      }
      #example_3.example_content #top_navigation ul li {
        display: inline;
        list-style-type: none;
        margin: 0;
        padding: 0 }
        #example_3.example_content #top_navigation ul li a {
          float: left;
          font-size: 10pt;
          font-weight: normal;
          margin: 0;
          padding: 4px 8px 6px;
          background-color: #66533f;
          border-color: #f4fcf2;
          border-style: solid;
          border-width: 1px;
          color: #ffffff;
          text-decoration: none; }
          #example_3.example_content #top_navigation ul li a:hover {
            background-color: #8c7a6e; }
        #example_3.example_content #top_navigation ul li a.selected {
          background-color: #2f3c4c;
          border: 1px solid;
          border-color: #2f3c4c;
          color: #f4efb7;
          font-weight: bold; }
  
    #example_3.example_content #sub_navigation li {
    	float: left;
    	list-style-type: none;
      margin-left: 10px;
      margin-top:0px;
      padding-top: 0px; }
      #example_3.example_content #sub_navigation li a {
        float: left;
        font-size: 10pt;
        font-weight: normal;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px;
        background-color: #afc0a4;
        border-color: #f4fcf2;
        border-style: solid;
        border-width: 0px;
        color: #66533f;
        text-decoration: none;
        -moz-border-radius-topleft: 5px;
        -webkit-border-top-left-radius: 5px;
        -moz-border-radius-bottomleft: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -moz-border-radius-topright: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-bottomright: 5px;
        -webkit-border-bottom--radius: 5px;
        width: 80px;
        text-align: center; }
        #example_3.example_content #sub_navigation li a:hover {
          background-color: #cce0cc; }
      #example_3.example_content #sub_navigation li a.selected {
        background-color: #fffad9;
        color: #66533f;
        font-weight: bold; }


