<%= will_paginate @talks , :previous_label=> "Předchozí", :next_label=> "Další"%> 
<table  class="listtable">
	<%= render :partial => 'filtr' %> 	
	<%= render :partial => 'index' %> 	
</table>	
<%= will_paginate @talks , :previous_label=> "Předchozí", :next_label=> "Další"%> 
